<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheRayTeam</title>
    <!--FOTO DE LA PESTAÑA-->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/portada.jpeg">
    <!--ESTILOS DE EL INTERFAZ CONTACTANOS-->
    <link rel="stylesheet" href="../../static/css/contactanos.css">
    <!--ESTILOS DE EL MENU Y FOOTER-->
    <link rel="stylesheet" href="../../static/css/menu-footer.css">
    <!--ESTILOS DE EL SCROLL Y LOADER-->
    <link rel="stylesheet" href="../../static/css/scroll-loader.css">
    <!--CDN DE LOS ICONOS-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <script src="../../static/js/loader.js"></script>
    <!--------------------------------------SCRIPT LOADER----------------------------->

    <!--------------------------------------LOADER----------------------------->



    <div class="center loader" id="loader">
        <div class="spiner">
            <div class="spiner">
                <div class="spiner">
                    <div class="spiner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------FIN LOADER----------------------------->



    <header><!--------------------------------------MENU----------------------------->

        <a href="#" class="logo">
            <img src="../../static/img/portada.jpeg">
        </a>
        <nav class="menu">
            <div class="icono-menu">
                <i class="fas fa-times close-btn"></i>
            </div>
            <ul>
                <li><a href="/">inicio</a></li>

                <li><a href="/templates/web/servicios.html">servicios</a></li>
                <li><a href="/templates/web/eventos.html">eventos</a></li>
                <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
                <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
                <li><a href="/templates/web/loginn.html">Login</a></li>

            </ul>
        </nav>
        <div class="icono-menu">
            <i class="fas fa-bars menu-btn"></i>
        </div>

    </header><!--------------------------------------FIN MENU----------------------------->





    <div class="contactanos">
        <!--------------------------------------PRIMER CUADRO----------------------------->
        <div class="contact-in">
            <h1>Atención</h1>
            <h3>Lunes: 9:00AM A 10:00AM Y 3:00PM A 9:00PM<h3>
                    <h3>Martes: 9:00AM A 10:00AM Y 3:00PM A 9:00PM</h3>
                    <h3>Miercoles: 9:00AM A 10:00AM Y 3:00PM A 9:00PM</h3>
                    <h3>Jueves: 9:00AM A 10:00AM Y 3:00PM A 9:00PM</h3>
                    <h3>Viernes: 9:00AM A 10:00AM Y 3:00PM A 9:00PM</h3>
                    <h3>Sabado: No hay atencion al publico</h3>
                    <h3>Domingo: No hay atención al publico</h3>
        </div>


        <!--------------------------------------SEGUNDO CUADRO----------------------------->
        <div class="contact-in">
            <h1>Contactanos</h1>
            <form action="https://formsubmit.co/2541f97fab6ef2793671c1610391bac4" method="POST">
                <input type="text" placeholder="Nombre completo" class="contact-in-input" name="nombre" required
                    maxlength="40">
                <input type="text" placeholder="Correo" class="contact-in-input" name="correo" required maxlength="30">
                <input type="text" placeholder="Tema" class="contact-in-input" name="tema" required maxlength="30">
                <textarea placeholder="Escribe tu mensaje" class="contact-in-textarea" name="mensaje" required
                    maxlength="230"></textarea>
                <input type="submit" value="Enviar" class="contact-in-btn">

                <input type="hidden" value="http://127.0.0.1:5502/WEB/contactanos.html" name="_next">
                <input type="hidden" value="false" name="_captcha">
            </form>
        </div>

        <!--------------------------------------TERCER CUADRO----------------------------->
        <div class="contact-in">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7640856963976!2d-78.54888078625761!3d-0.29874453542784796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a20b9a26b40f%3A0xa0f8b0e3b37ec44!2sTEAM%20RAY%20T.R.T%20ARTES%20MARCIALES!5e0!3m2!1ses!2sec!4v1672206950452!5m2!1ses!2sec"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>






    <footer><!--------------------------------------PIE PAGINA----------------------------->
        <div class="contenedor">
            <div class="sobre">
                <h2 class="titulos">Nosotros</h2>
                <p class="parrafo">Somos una academia de artes marciales fundada el 6 de septiembre del 2017 con
                    especialidad
                    en deportes de contacto, dedicados a la formacion fisica y mental de nuestros alumnos a travez de la
                    verdadera
                    filosofia marcila.
                </p>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/profile.php?id=100063795690697" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/teamraytrt/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>

                </ul>
            </div>
            <div class="links">
                <h2 class="titulos">links</h2>
                <ul>
                    <li><a href="/">inicio</a></li>

                    <li><a href="/templates/web/servicios.html">servicios</a></li>
                    <li><a href="/templates/web/eventos.html">eventos</a></li>
                    <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
                    <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
                    <li><a href="/templates/web/loginn.html">Login</a></li>

                    <div>
                        <span class="candado"><i class="fa-solid fa-lock"></i></span>
                        <h2><a class="acceso_privado" href="login.html">Acceso Privado</a></h2>
                    </div>
                </ul>
            </div>
            <div class="contactos">
                <h2 class="titulos">contactos</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <span>Av. Cóndor Ñan <br> Quito 170146 <br> ECUADOR </span>

                    </li>
                    <li>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <p><a href="tel: 0995953694">+596 098 492 1073</a><br>
                            <a href="tel: 0995953694">+596 099 523 3041</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p><a href="mail: dag.cruz@yavirac.edu.ec">teamraytrt@gmail.com</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </footer><!--------------------------------------FIN PIE PAGINA----------------------------->
    <div class="copyright">
        <p>Copyright © 2023 The Team Ray Academia</p>
    </div>
    <script src="../../static/js/menu.js"></script>
    <!--------------------------------------PARA HACER EL EFECTO SCROOL AL MENU----------------------------->

</body>

</html>