<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ray Team</title>
    <!--FOTO DE LA PESTAÑA-->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/portada.jpeg">
    <!--ESTILOS DE EL INTERFAZ EVENTOS-->
    <link rel="stylesheet" href="../../static/css/eventos.css">
    <!--ESTILOS DE EL MENU Y EL FOOTER-->
    <link rel="stylesheet" href="../../static/css/menu-footer.css">
    <!--ESTILOS DE EL SCROLL Y LOADER-->
    <link rel="stylesheet" href="../../static/css/scroll-loader.css">
    <!--CDN DE LOS ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>

    <script src="../../static/js/loader.js"></script>
    <!--------------------------------------SCRIPT LOADER----------------------------->

    <!--------------------------------------LOADER----------------------------->



    <div class="center loader" id="loader">
        <div class="spiner">
            <div class="spiner">
                <div class="spiner">
                    <div class="spiner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------FIN LOADER----------------------------->



    <header><!--------------------------------------MENU----------------------------->

        <a href="#" class="logo">
            <img src="../../static/img/portada.jpeg">
        </a>
        <nav class="menu">
            <div class="icono-menu">
                <i class="fas fa-times close-btn"></i>
            </div>
            <ul>
                <li><a href="/">inicio</a></li>

                <li><a href="/templates/web/servicios.html">servicios</a></li>
                <li><a href="/templates/web/eventos.html">eventos</a></li>
                <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
                <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
                <li><a href="/templates/web/loginn.html">Acceder</a></li>

            </ul>
        </nav>
        <div class="icono-menu">
            <i class="fas fa-bars menu-btn"></i>
        </div>

    </header><!--------------------------------------FIN MENU----------------------------->


    <div class="rampage"><!--------------------------------------TITULO RAMPAGE----------------------------->
        <h2>rampage</h2>
    </div>

    <div class="parent"><!--------------------------------------CARRUSEL----------------------------->
        <div class="div1">
            <div class="container">
                <div class="carrusel">
                    <img src="../../static/img/pelea1.png" alt="">

                </div>
                <div class="carrusel">
                    <img src="../../static/img/pelea2.png" alt="">
                </div>
                <div class="carrusel">
                    <img src="../../static/img/pelea3.png" alt="">
                </div>
                <div class="carrusel">
                    <img src="../../static/img/pelea4.png" alt="">
                </div>
                <div class="carrusel">
                    <img src="../../static/img/pelea5.png" alt="">
                </div>
                <!--------------------------------------FUNCION PARA HACER FUNCIONAR LAS FLECHAS DEL CARRUSEL----------------------------->

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>


            </div>
        </div>
        <div class="div2"><!--------------------------------------IMAGEN DERECHA------------------------------->
            <img src="../../static/img/bryan.png" alt="">

        </div>

    </div><!--------------------------------------FIN CARRUSEL----------------------------->
    <script src="../../static/js/carrusel.js"></script>
    <!--------------------------------------SCRIP PARA HACER FUNCIONAR EL CARRUSEL----------------------------->




    <div class="parent"><!--------------------------------------CARRUSEL----------------------------->
        <div class="div1">
            <div class="container">
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.1.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.2.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.3.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.4.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.5.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.6.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.7.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.8.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.9.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.10.png" alt="">
                </div>
                <div class="carrusel1">
                    <img src="../../static/img/pelea1.11.png" alt="">
                </div>
                <!--------------------------------------FUNCION PARA HACER FUNCIONAR LAS FLECHAS DEL CARRUSEL----------------------------->

                <a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides1(1)">&#10095;</a>


            </div>
        </div>
        <div class="div2"><!--------------------------------------IMAGEN DERECHA------------------------------->
            <img src="../../static/img/gustavo.png.jpeg" alt="">
        </div>
    </div><!--------------------------------------FIN CARRUSEL----------------------------->
    <script src="../../static/js/carrusel1.js"></script>
    <!--------------------------------------SCRIP PARA HACER FUNCIONAR EL CARRUSEL----------------------------->



    <div class="parent"><!--------------------------------------CARRUSEL----------------------------->
        <div class="div1">
            <div class="container">
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.1.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.2.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.3.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.4.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.5.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.6.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.7.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.8.png" alt="">
                </div>
                <div class="carrusel2">
                    <img src="../../static/img/pelea1.1.9.png" alt="">
                </div>
                <!--------------------------------------FUNCION PARA HACER FUNCIONAR LAS FLECHAS DEL CARRUSEL----------------------------->

                <a class="prev" onclick="plusSlides2(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides2(1)">&#10095;</a>


            </div>
        </div>
        <div class="div2"><!--------------------------------------IMAGEN DERECHA------------------------------->
            <img src="../../static/img/guachamin.png.jpeg" alt="">
        </div>
    </div><!--------------------------------------FIN CARRUSEL----------------------------->
    <script src="../../static/js/carrusel2.js"></script>
    <!--------------------------------------SCRIP PARA HACER FUNCIONAR EL CARRUSEL----------------------------->





    <!--------------------------------------PIE DE PAGINA----------------------------->
    <footer>
        <div class="contenedor">
            <div class="sobre">
                <h2 class="titulos">Síguenos</h2>
                <br>
                <p class="parrafo">Somos una academia de artes marciales fundada el 6 de septiembre del 2017 con
                    especialidad en
                    deportes de contacto, dedicados a la formación física y mental de nuestros alumnos a través de la
                    verdadera
                    filosofía marcial.
                </p>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/profile.php?id=100063795690697" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/teamraytrt/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.tiktok.com/@teamraytrt" target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a></li>


                </ul>
            </div>
            <div class="links">
                <h2 class="titulos">Opiniones</h2>
                <br>
                <p class="parrafo">¿Qué dicen nuestros alumnos?
                <ul class="sci">
                    </p>
                    <br>
                    <a href="/templates/web/comentario2.html" class="boton-mira-aqui">Mira Aquí</a>




                </ul>
            </div>
            <div class="contactos">
                <h2 class="titulos">Contactos</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <span>Av. Cóndor Ñan <br> Quito 170146 <br> ECUADOR </span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <p><a href="tel: 0995953694">+596 098 492 1073</a><br>
                            <a href="tel: 0995953694">+596 099 523 3041</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p><a href="mail: dag.cruz@yavirac.edu.ec">teamraytrt@gmail.com</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </footer>
    <div class="copyright">
        <p>Copyright © 2025 The Team Ray Academia</p>
    </div>
    <script src="../../static/js/menu.js"></script>
    <!--------------------------------------PARA HACER EL EFECTO SCROOL AL MENU----------------------------->


</body>

</html>