<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheRayTeam</title>
  <!--FOTO DE LA PESTAÑA-->
  <link rel="shortcut icon" type="image/x-icon" href="../../static/img/portada.jpeg">
  <!--ESTILOS DE EL INTERFAZ LOGIN-->
  <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
  <!--ESTILOS DE EL MENU Y FOOTER-->
  <link rel="stylesheet" href="../../static/css/menu-footer.css">
  <!--ESTILOS DE EL WATTSAP-->
  <link rel="stylesheet" href="../../static/css/watsap.css">
  <!--ESTILOS DE EL SCROLL Y LOADER-->
  <link rel="stylesheet" href="../../static/css/scroll-loader.css">
  <!--CDN DE LOS ICONOS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

</html>

<body>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <a href="https://api.whatsapp.com/send?phone=999348631&text=HOLA,%20deseo%20saber%20mas%20sobre%20el%20gymnasio%20ahora%20!"
    class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>


  <script src="../../static/js/loader.js"></script>
  <!--------------------------------------SCRIPT LOADER------------------------------->

  <!--------------------------------------LOADER----------------------------->



  <div class="center loader" id="loader">
    <div class="spiner">
      <div class="spiner">
        <div class="spiner">
          <div class="spiner">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------FIN LOADER----------------------------->




  <header>

    <a href="#" class="logo">
      <img src="/static/img/portada.jpeg">
    </a>
    <nav class="menu">
      <div class="icono-menu">
        <i class="fas fa-times close-btn"></i>
      </div>
      <ul>
        <li><a href="/">inicio</a></li>

        <li><a href="/templates/web/servicios.html">servicios</a></li>
        <li><a href="/templates/web/eventos.html">eventos</a></li>
        <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
        <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
        <li><a href="/templates/web/loginn.html">Login</a></li>

      </ul>
    </nav>
    <div class="icono-menu">
      <i class="fas fa-bars menu-btn"></i>
    </div>

  </header>

  <section class="portada">
    <div class="wrapper">
      <div class="texto_estatico">Unete a nosotros <br> Y seras mas ...</div>
      <ul class="texto_dinamico">
        <li><span>Fuerte</span></li>

      </ul>
    </div>
    <a href="../templates/contactanos.html"><input type="button" value="UNIRME !" class="boton_portada"></a>
  </section>


  <div class="nosotros">
    <div class="div1">


      <div class="container">
        <div class="carrusel1">
          <img src="../static/img/portada1.png.jpeg" alt="">
        </div>
        <div class="carrusel1">
          <video controls src="../static/videos/video1.mp4" width="540px" height="330px"></video>
        </div>

        <!--------------------------------------FUNCION PARA HACER FUNCIONAR LAS FLECHAS DEL CARRUSEL----------------------------->

        <a class="prev" onclick="plusSlides1(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides1(1)">&#10095;</a>


      </div>


      <!--<video controls src="../VIDEOS/video1.mp4" width="540px" height="330px"></video>-->
      <!--<img class="img_nosotros" src="../IMG/portada1.png.jpeg" alt="">-->
    </div>
    <script src="../static/js/carrusel1.js"></script>








    <div class="div2">
      <h2 class="titulo_div2">sobre nosotros</h2>
      <br><br><br>
      <p class="parrafo_div2">Somos una academia de artes marciales fundada el 6 de septiembre del 2017 con especialidad
        en deportes de contacto, dedicados a la formacion fisica y mental de nuestros alumnos a travez de la verdadera
        filosofia marcila. <br><br>
        Adapado a tus necesidades ya sea que quiera entrenar para bajar de peso, para
        estar en forma, aprender a defenderte como hobbie o para ser la carrera de un peleador. </p>
    </div>
  </div>



  <div class="nosotros2">
    <div class="div3">
      <h2 class="titulo_div2">sobre nosotros</h2>

      <p class="parrafo_div2 trofeos">🏆PRIMER LUGAR EN OLIMPIADAS DE ARTES MARCIALES INTERNACIONALES FSF QUITO.
        30/09/2017 <br>
        🏆PRIMER LUGAR NACIONAL CONCENTRACIÓN DEPORTIVA DE PICHINCHA. 28/10/2017 <br> 🏆PRIMER LUGAR NACIONAL ANTES
        MARCIALES
        2017 FSF. 23/12/2017 <br> 🏆PRIMER LUGAR NACIONAL CONCENTRACIÓN DEPORTIVA DE PICHINCHA 2017. <br> 🏆 PRIMER
        LUGAR COPA
        CONFRATERNIDAD K-1. 10/03/2018 <br> 🏆PRIMER LUGAR NACIONAL CONCENTRACIÓN DEPORTIVA DE PICHINCHA 02/052018 <br>
        🏆PRIMER
        LUGAR INTERNACIONAL COLOMBIA ATF 2018 TEAM RAY Y CLUB TORASHI 2018 <br> 🏆SEGUNDO LUGAR NACIONAL CLASIFICATORIO
        BOLIVARIANO 25/02/2018 <br> 🏆SEGUNDO LUGAR NACIONAL ISKA 2018 15/06/2018 <br>
        🏆PRIMER LUGAR WFMC 29/09/2018 <br> 🏆TERCER LUGAR PRIMERA COPA ISKA 01/12/2018 <br> 🏆SEGUNDO PUESTO NACIONAL
        30/03/2019 <br>
        🏆PRIMER LUGAR PROVINCIAL PICHINCHA 22/06/2019 <br> 🏆 EL MEJOR CULB DE PICHINCHA 22/06/2019 <br> 🏆 COMBATES
        POR TITULOS
        WFMC 15/09/2019 <br> 🏆 PRIMER LUGAR SELECTIVO PICHINCHA 02/02/2020 <br> 🏆 BATALLAS DE DRAGONES 29/05/2021 <br>
        🏆 PRIMER
        LUGAR PICHINCHA 05/03/2022 <br> 🏆 OPEN PROVINCIL PICHINCHA 03/12/2022 <br> 🏆 CLUB DESTACADO 03/12/2022
      </p>
    </div>
    <div class="div4">


      <div class="container">
        <div class="carrusel">
          <img src="/static/img/portada2.png.jpeg" alt="">
          
        </div>
        <div class="carrusel">
          <video controls src="../static/videos/video2.mp4" width="540px" height="330px"></video>
        </div>

        <!--------------------------------------FUNCION PARA HACER FUNCIONAR LAS FLECHAS DEL CARRUSEL----------------------------->

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>


      </div>


      <!--<video controls src="../VIDEOS/video2.mp4" width="540px" height="330px"></video>-->
      <!--<img class="img_nosotros" src="../IMG/portada2.png.jpeg" alt="">-->
    </div>
    <script src="../static/js/carrusel.js"></script>
  </div>


  <div class="imagendelmedio">
    <h2 class="titulo_imagen">¡por este team mato y por este team muero!</h2>
    <p class="parrafo_imagen">esfuerzo, disciplina, compañerismo, humildad</p>
  </div>


  <div class="nosotros">
    <div class="div1">
      <img class="img_nosotros" src="../static/img/portada3.png.jpeg" alt="">
    </div>
    <div class="div2">
      <h2 class="titulo_div2">¿Por que estas luchando?</h2>
      <br><br><br>
      <p class="parrafo_div2">Te mereces la oportunidad de estar mas fuerte todos los dias de tu vida. TEAM RAY le
        brinda un entrenamiento de circuito de tiempo completo dirigido por un entrenador diseñado por profesionales
        certificados.
        <br> Golpearas Patearas y Sudaras. Entonces estaras listo para enfrenta cualquier cosa en la vida.
      </p>,
    </div>
  </div>


  <div class="cuadro2">
    <h3 class="lista">beneficios de las artes marciales</h3>
  </div>
  <div class="tabla">

    <table class="cuadro">

      <tr class="fila">

        <th class="fila1">Cuerpo</th>
        <th class="fila1">espiritu</th>
        <th class="fila1">mente</th>

      </tr>


      <tr class="columna">

        <td class="columna1">equilibrio</td>
        <td class="columna1">paciencia</td>
        <td class="columna1">memoria</td>

      </tr>
      <tr class="columna">

        <td class="columna1">coordinación</td>
        <td class="columna1">respeto</td>
        <td class="columna1">autocontrol</td>

      </tr>
      <tr class="columna">

        <td class="columna1">flexibilidad</td>
        <td class="columna1">integridad</td>
        <td class="columna1">confianza</td>

      </tr>
      <tr class="columna">

        <td class="columna1">fuerza</td>
        <td class="columna1">humildad</td>
        <td class="columna1">adaptacion</td>

      </tr>
      <tr class="columna">

        <td class="columna1">resistencia</td>
        <td class="columna1">perseverancia</td>
        <td class="columna1">creatividad</td>

      </tr>
      <tr class="columna">

        <td class="columna1">endurecimiento</td>
        <td class="columna1"></td>
        <td class="columna1"></td>

      </tr>
      <tr class="columna">

        <td class="columna1">fluidez</td>
        <td class="columna1"></td>
        <td class="columna1"></td>

      </tr>

    </table>
  </div>


  <div class="entrenador">
    <div class="ray">
      <h2 class="logros">entrenador</h2>
      <img class="fotoray" src="../static/img/ray.png" alt="">
    </div>
    <div class="ray2">
      <h2 class="logros">cinturones</h2>
      <p>NEGRO <i class="fa-sharp fa-solid fa-check"></i> <br><br> MARRON <i class="fa-sharp fa-solid fa-check"></i>
        <br><br>
        PURPURA <i class="fa-sharp fa-solid fa-check"></i> <br><br> AZUL <i class="fa-sharp fa-solid fa-check"></i>
        <br><br> VERDE
        <i class="fa-sharp fa-solid fa-check"></i> <br><br> NARANJA <i class="fa-sharp fa-solid fa-check"></i> <br><br>
        AMARILLO
        <i class="fa-sharp fa-solid fa-check"></i> <br><br>
        BLANCO-AMARILLO <i class="fa-sharp fa-solid fa-check"></i> <br><br> BLANCO <i
          class="fa-sharp fa-solid fa-check"></i>
      </p>
    </div>
    <div class="ray3">
      <h2 class="logros">logros</h2>
      <br>
      <p>-CAMPEON PROVINCIAL <br> -CAMPEON NACIONAL <br> -CAMPEON BOLIVARIANO <br> -BRONCE SUDAMERICANO</p>
      <br><br>
      <h2 class="logros">peleador profesional </h2>
      <br>
      <p>REHABILITADOR FISICO <br> Cinturon Negro 2° Dan</p>
    </div>
  </div>

  <div class="image-slider">
    <h2 class="titulo_carrusel">por encima de nosotros solo el cielo</h2>
    <div class="image-slider-track">
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/1.png">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/7.png.jpeg">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/2.png">
      </div>

      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/8.png.jpeg">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/3.png">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/9.png.jpeg">
      </div>

      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/4.png">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/10.png.jpeg">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/5.png">
      </div>

      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/11.png.jpeg">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/6.png">
      </div>
      <div class="slide">
        <img class="imagen_carrusel" src="../static/img/12.png.jpeg">
      </div>


    </div>
  </div>

  </div>

  <footer>
    <div class="contenedor">
      <div class="sobre">
        <h2 class="titulos">Nosotros</h2>
        <p class="parrafo">Somos una academia de artes marciales fundada el 6 de septiembre del 2017 con especialidad
          en deportes de contacto, dedicados a la formacion fisica y mental de nuestros alumnos a travez de la verdadera
          filosofia marcila.
        </p>
        <ul class="sci">
          <li><a href="https://www.facebook.com/profile.php?id=100063795690697" target="_blank"><i
                class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="https://www.instagram.com/teamraytrt/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li><a href="https://www.tiktok.com/@teamraytrt" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>


        </ul>
      </div>
      <div class="links">
        <h2 class="titulos">Links</h2>
        <ul>
          <li><a href="/">inicio</a></li>

        <li><a href="/templates/web/servicios.html">servicios</a></li>
        <li><a href="/templates/web/eventos.html">eventos</a></li>
        <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
        <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
        <li><a href="/templates/web/loginn.html">Login</a></li>

          <div>
            <span class="candado"><i class="fa-solid fa-lock"></i></span>
            <h2><a class="acceso_privado" href="admin.html">Acceso Privado</a></h2>
          </div>


        </ul>
      </div>
      <div class="contactos">
        <h2 class="titulos">Contactos</h2>
        <ul class="info">
          <li>
            <span><i class="fa-solid fa-location-dot"></i></span>
            <span>Av. Cóndor Ñan <br> Quito 170146 <br> ECUADOR </span>
          </li>
          <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p><a href="tel: 0995953694">+596 098 492 1073</a><br>
              <a href="tel: 0995953694">+596 099 523 3041</a>
            </p>
          </li>
          <li>
            <span><i class="fa-solid fa-envelope"></i></span>
            <p><a href="mail: dag.cruz@yavirac.edu.ec">teamraytrt@gmail.com</a></p>
          </li>
        </ul>
      </div>

    </div>
  </footer>
  <div class="copyright">
    <p>Copyright © 2023 The Team Ray Academia</p>
  </div>

  <script src="../static/js/menu.js"></script>
</body>

</html>