<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ray Team</title>
    <!--FOTO DE LA PESTAÑA-->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/portada.jpeg">
    <!--ESTILOS DE EL INTERFAZ SERVICIOS-->
    <link rel="stylesheet" href="../../static/css/servicios.css">
    <!--ESTILOS DE EL MENU Y FOOTER-->
    <link rel="stylesheet" href="../../static/css/menu-footer.css">
    <!--ESTILOS DE EL SCROLL Y LOADER-->
    <link rel="stylesheet" href="../../static/css/scroll-loader.css">
    <!--ESTILOS DE EL INTERFAZ MODALIDADES-->
    <link rel="stylesheet" href="../../static/css/modalidades.css">
    <!--CDN DE LOS ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>



    <script src="../../static/js/loader.js"></script>
    <!--------------------------------------SCRIPT LOADER----------------------------->

    <!--------------------------------------LOADER----------------------------->



    <div class="center loader" id="loader">
        <div class="spiner">
            <div class="spiner">
                <div class="spiner">
                    <div class="spiner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------FIN LOADER----------------------------->



    <header><!--------------------------------------MENU----------------------------->

        <a href="#" class="logo">
            <img src="../../static/img/portada.jpeg">
        </a>
        <nav class="menu">
            <div class="icono-menu">
                <i class="fas fa-times close-btn"></i>
            </div>
            <ul>
                <li><a href="/">inicio</a></li>

                <li><a href="/templates/web/servicios.html">servicios</a></li>
                <li><a href="/templates/web/eventos.html">eventos</a></li>
                <li><a href="/templates/web/contactanos.html">Contactanos</a></li>
                <li><a href="/templates/web/comentario2.html">Comentarios</a></li>
                <li><a href="/templates/web/loginn.html">Acceder</a></li>

            </ul>
        </nav>
        <div class="icono-menu">
            <i class="fas fa-bars menu-btn"></i>
        </div>

    </header><!--------------------------------------FIN MENU----------------------------->



    <div class="servicios"><!--------------------------------------SERVICIOS----------------------------->
        <!--<div class="horario-de-entrenamiento">
            horario de entrenamiento
        </div>-->
        <div class="box-area">

            <p>Lunes</p>
            <p>Boxeo</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 10:00AM </p>
            <p>Horarios tarde:</p>
            <p> 3:00PM - 4:00PM <br> 4:00PM - 5:00PM <br> 5:00PM - 6:00PM <br> 6:00PM - 7:00PM</p>
            <p>Horarios noche:</p>
            <p>7:00PM - 8:00PM <br> 8:00PM - 9:00PM </p>
        </div>
        <div class="box-area">

            <p>Martes</p>
            <p>Kick Boxing</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 10:00AM </p>
            <p>Horarios tarde:</p>
            <p> 3:00PM - 4:00PM <br> 4:00PM - 5:00PM <br> 5:00PM - 6:00PM <br> 6:00PM - 7:00PM</p>
            <p>Horarios noche:</p>
            <p>7:00PM - 8:00PM <br> 8:00PM - 9:00PM </p>
        </div>
        <div class="box-area">

            <p>Miercoles</p>
            <p>Kick Boxing</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 10:00AM </p>
            <p>Horarios tarde:</p>
            <p> 3:00PM - 4:00PM <br> 4:00PM - 5:00PM <br> 5:00PM - 6:00PM <br> 6:00PM - 7:00PM</p>
            <p>Horarios noche:</p>
            <p>7:00PM - 8:00PM <br> 8:00PM - 9:00PM </p>
        </div>
        <div class="box-area">

            <p>Jueves</p>
            <p>Muay Thai</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 10:00AM </p>
            <p>Horarios tarde:</p>
            <p> 3:00PM - 4:00PM <br> 4:00PM - 5:00PM <br> 5:00PM - 6:00PM <br> 6:00PM - 7:00PM</p>
            <p>Horarios noche:</p>
            <p>7:00PM - 8:00PM <br> 8:00PM - 9:00PM </p>
        </div>
        <div class="box-area">

            <p>Viernes</p>
            <p>Jiu Jitsu</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 10:00AM </p>
            <p>Horarios tarde:</p>
            <p> 3:00PM - 4:00PM <br> 4:00PM - 5:00PM <br> 5:00PM - 6:00PM <br> 6:00PM - 7:00PM</p>
            <p>Horarios noche:</p>
            <p>7:00PM - 8:00PM <br> 8:00PM - 9:00PM </p>
        </div>
        <div class="box-area">

            <p>Sabado</p>
            <p>Avanzados</p>
            <p>Horarios mañana:</p>
            <p>9:00AM - 11:00AM
            </p>
        </div>
        <div class="box-area">

            <p>Niños</p>
            <p id="titulo_niños">Horario:</p>
            <p id="horario_niños">Lunes: 5:00PM - 6:00PM <br> Martes: 5:00PM - 6:00PM <br> Miercoles: 5:00PM - 6:00PM
                <br> Jueves: 5:00PM - 6:00PM <br> Viernes: 5:00PM - 6:00PM
            </p>

        </div>
        <div class="box-area">

            <p id="titulo_promociones">Promociones:</p>
            <p id="subtitulo">Sin inscripcion enero</p>
            <p id="mensual">Mensual: $30 <br> Trimestral: $80 <br> Anual: $300</p>

        </div>
        <div class="box-area">

            <p id="titulo_instalaciones">Instalaciones:</p>
            <p id="instalaciones">-Area: 180m^2 <br> -parqueadero privado <br> -ducha <br> -Ring de boxeo <br> -Area de
                sacos <br> -Implementacion deportiva <br> -Area funcional</p>

        </div>
    </div>

    <div class="parent">

        <div class="contenedor1">
            <figure>
                <img src="../../static/img/kickboxing.png" alt="">
                <div class="efecto">
                    <h2>Kick Boxing</h2>
                    <p>El kickboxing es un grupo de deportes de combate de pie y una forma de
                        boxeo, basados en patadas y puñetazos. El combate se desarrolla en un ring de boxeo, normalmente
                        con guantes de boxeo, protectores bucales, pantalones cortos y pies descalzos para favorecer el
                        uso de patadas. </p>
                </div>
            </figure>
        </div>

        <div class="contenedor1">
            <figure>
                <img src="../../static/img/boxeo.png" alt="">
                <div class="efecto">
                    <h2>Boxeo</h2>
                    <p>El boxeo, es un deporte de contacto en el que dos contrincantes luchan
                        utilizando únicamente sus puños con guantes, golpeando a su adversario de la cintura hacia
                        arriba, dentro de un cuadrilátero especialmente diseñado para tal fin.</p>
                </div>
            </figure>
        </div>

        <div class="contenedor1">
            <figure>
                <img src="../../static/img/jutjitsu.png" alt="">
                <div class="efecto">
                    <h2>Jiu Jitsu</h2>
                    <p>El jiu-jitsu brasileño es un arte marcial, deporte de combate y sistema de defensa
                        personal desarrollado en Brasil. Se centra principalmente en la lucha cuerpo a cuerpo en el
                        suelo, usando para ello luxaciones, estrangulaciones, inmovilizaciones y derribos.</p>
                </div>
            </figure>
        </div>

        <div class="contenedor1">
            <figure>
                <img src="../../static/img/muaitai.png" alt="">
                <div class="efecto">
                    <h2>Muay Thai</h2>
                    <p>El muay thai, conocido también como
                        boxeo tailandés, o tradicionalmente como el arte de las ocho extremidades. Tiene como base el
                        Muay Boran, el cual se desarrolla de pie por medio de golpes con técnicas combinadas de puños,
                        pies, rodillas y codos, además de algunos barridos, sujeciones (para golpear) y lanzamientos.
                    </p>
                </div>
            </figure>
        </div>
    </div>


    <footer>
        <div class="contenedor">
            <div class="sobre">
                <h2 class="titulos">Síguenos</h2>
                <br>
                <p class="parrafo">Somos una academia de artes marciales fundada el 6 de septiembre del 2017 con
                    especialidad en
                    deportes de contacto, dedicados a la formación física y mental de nuestros alumnos a través de la
                    verdadera
                    filosofía marcial.
                </p>
                <ul class="sci">
                    <li><a href="https://www.facebook.com/profile.php?id=100063795690697" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/teamraytrt/" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a href="https://www.tiktok.com/@teamraytrt" target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a></li>


                </ul>
            </div>
            <div class="links">
                <h2 class="titulos">Opiniones</h2>
                <br>
                <p class="parrafo">¿Qué dicen nuestros alumnos?
                <ul class="sci">
                    </p>
                    <br>
                    <a href="/templates/web/comentario2.html" class="boton-mira-aqui">Mira Aquí</a>




                </ul>
            </div>
            <div class="contactos">
                <h2 class="titulos">Contactos</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <span>Av. Cóndor Ñan <br> Quito 170146 <br> ECUADOR </span>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <p><a href="tel: 0995953694">+596 098 492 1073</a><br>
                            <a href="tel: 0995953694">+596 099 523 3041</a>
                        </p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p><a href="mail: dag.cruz@yavirac.edu.ec">teamraytrt@gmail.com</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </footer>
    <div class="copyright">
        <p>Copyright © 2025 The Team Ray Academia</p>
    </div>
    <script src="../../static/js/menu.js"></script>
    <!--------------------------------------PARA HACER EL EFECTO SCROOL AL MENU----------------------------->

</body>

</html>