<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/admin.css">
    <link rel="stylesheet" href="/static/css/nueva_persona.css">
    <!--ESTILOS DE EL SCROLL Y LOADER-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scroll-loader.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>The Ray Team</title>
    <!--FOTO DE LA PESTAÑA-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/portada.jpeg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
    <!--------------------------------------SCRIPT LOADER----------------------------->

    <!--------------------------------------LOADER----------------------------->



    <div class="center loader" id="loader">
        <div class="spiner">
            <div class="spiner">
                <div class="spiner">
                    <div class="spiner">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------FIN LOADER----------------------------->


    <!--  -->
    {% if session['nombre_rol'] == "Administrador" %}
    {% include 'app/menus/menuadmin.html' %}
    {% elif session['nombre_rol'] == "Entrenador" %}
    {% include 'app/menus/menuentrenador.html' %}
    {% else %}
    {% include 'app/menus/menuestudiante.html' %}
    {% endif %}



    <!-- NAVBAR -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class="fa-solid fa-bars menu"></i>
            <form action="#">
                <div class="form-group">
                    <!--<input type="text" placeholder="Buscar...">
					<i class='bx bx-search icon'></i>-->
                </div>
            </form>

            <span class="divider"></span>
            <div class="profile">
                <p class="perfil">{{session.nombres}} {{session.apellidos}}</p>
                <ul class="profile-link">

                    <li><a href="{{ url_for('logout') }}"><i class='bx bxs-log-out-circle'></i> Salir</a></li>
                </ul>
            </div>
        </nav>

        <!-- NAVBAR -->

        <!--validadores del formulario-->
        <script src="/static/js/validadores.js"></script>


        <div class="todo">
            <div class="todo2">
                <div class="ver">
                    <a href="/templates/app/personal/persona.html" class="nuevo"><i class="fa-solid fa-user"></i> Ver
                        personas</a>
                </div>
                <div class="form login">

                    <span class="title">Registro de Usuarios</span>

                    <form action="{{ url_for('personal.agregar_empleado') }}" method="post" autocomplete="off"
                        onsubmit="return validarCedula()">
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese su cedula" name="id" id="id"
                                onchange="validarCedula(),txNombres(),ValidaSoloNumeros()"
                                oninput="eliminarLetras(event)" required maxlength="10">
                            <i class="fa-solid fa-address-card icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese sus nombres" name="nombres" id="nombres"
                                maxlength="25" oninput="eliminarNumeros(event)" required>
                            <i class="fa-solid fa-file-signature icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese sus apellidos" name="apellidos" id="apellidos"
                                maxlength="25" oninput="eliminarNumeros(event)" required>
                            <i class="fa-solid fa-file-signature icon"></i>
                        </div>
                        <br>
                        <label for="">Fecha nacimiento</label>

                        <div class="input-field">
                            <input type="date" placeholder="Ingrese su fecha nacimiento" name="fecha_nacimiento"
                                id="fecha_nacimiento" required>
                            <i class="fa-regular fa-calendar icon"></i>
                        </div>
                        <br>
                        <label for="">Fecha inscripcion</label>
                        <div class="input-field">
                            <input type="date" placeholder="Ingrese su fecha inscripcion" name="fecha_inscripcion"
                                id="fecha_inscripcion" required>
                            <i class="fa-regular fa-calendar-check icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="password" class="password" placeholder="Ingrese su clave" name="clave"
                                id="clave" maxlength="20" required>
                            <i class="fa-solid fa-lock icon"></i>
                            <i class="uil uil-eye-slash showHidePw"></i>
                        </div>
                        <div class="input-field">
                            <span class="rol"><i class="fa-solid fa-check icon"></i></span>
                            <select class="seleccionar" name="nombre_cinturon" required>
                                <option class="opciones" value="" disabled selected>Cinturon</option>
                                <option class="opciones" value="Blanco">Blanco</option>
                                <option class="opciones" value="Blanco-amarillo">Blanco-amarillo</option>
                                <option class="opciones" value="Amarillo">Amarillo</option>
                                <option class="opciones" value="Naranja">Naranja</option>
                                <option class="opciones" value="Verde">Verde</option>
                                <option class="opciones" value="Azul">Azul</option>
                                <option class="opciones" value="Purpura">Purpura</option>
                                <option class="opciones" value="Marron">Marron</option>
                                <option class="opciones" value="Negro">Negro</option>
                            </select>
                        </div>

                        <div class="input-field">
                            <span class="rol"><i class="fa-solid fa-venus-mars icon"></i></span>
                            <select class="seleccionar" name="genero" required>
                                <option class="opciones" value="" disabled selected>Genero</option>
                                <option class="opciones" value="Masculino">Masculino</option>
                                <option class="opciones" value="Femenino">Femenino</option>


                            </select>
                        </div>
                        <div class="input-field">
                            <span class="rol"><i class="fa-solid fa-users "></i></span>
                            <select class="seleccionar" name="nombre_rol" required>
                                <option class="opciones" value="" disabled selected>Rol</option>
                                <option class="opciones" value="Administrador">Administrador</option>
                                <option class="opciones" value="Estudiante">Estudiante</option>


                            </select>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese su correo" name="correo" id="correo" maxlength="30"
                                required>
                            <i class="fa-solid fa-envelope icon"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese su telefono" name="telefono" id="telefono"
                                maxlength="10" oninput="eliminarLetras(event)" required>
                                <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Ingrese su direccion" name="direccion" id="direccion"
                                maxlength="50" required>
                                <i class="fa-solid fa-map-location-dot"></i>
                        </div>



                        <div class="input-field button">
                            <input type="submit" value="Ingresar" id="place_order">
                        </div>

                    </form>





                </div>
            </div>
        </div>

        <script src="/static/js/login.js"></script>

        <script src="/static/js/hola.js"></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/validacion.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




        <!--HACE QUE EL BOTON DE LA EQUIS DEL ALERTA FUNCIONE-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if '¡Usuario registrado correctamente!' in message %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 1700
            });
        </script>
        {% else %}
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: '{{ message }}',
                showConfirmButton: false,
                timer: 1700
            });
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}



    </section>
</body>

</html>